@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  background-color: black;
  font-family: "Montserrat", system-ui;
}
h1,h2,h3,h4,h5,h6,p{
  margin: 0;
}

.loader {
  border: 4px solid rgba(255, 255, 255, 0.3);
  border-top: 4px solid white;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
